body 
{
	background-color:#000;
    font-family: 'Mukta', sans-serif;
}

.navbar img {
	height:60px;
}
.round {
    border-radius: 3em;
}
 
.button-red {
  background-color: #ff2345;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  margin: 20px 0px 0px 0px;
  padding: 20px 30px;
  text-decoration: none;
  text-align: center;
}
.button-red:hover {
	color:#fff;
	background-color:transparent;
	border:2px solid #ff2345;
}

.button-grey {
  background-color: transparent;
  color: #fff;
  border:2px solid #3e3e3e;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  margin: 20px 0px 0px 0px;
  padding: 10px 30px 15px 15px;
  text-decoration: none;
  text-align: center;
}
.button-grey:hover {
	color:#fff;
	background-color:transparent;
	border:2px solid #ff2345;
}

.intro {
	padding-top:150px;
}

.intro h1 {
	color:#fff;
	font-weight:700;
	font-size:6em;
}

p.intro-desc {
	color:#fff;
	font-size:1.1em;
}

#welcome {
    position: relative;
    background: url(../img/panther.jpg);
    background-position: 0px -155px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    height: 750px;
	width:100%;
}

.poster {
	position: relative;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    height: 500px;
	width:100%;
}

.poster-overlay {
	background:linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,rgba(0, 0, 0, 0.98) 100%);
	width:100%;
	height:500px;
}

.poster:hover {
	border:2px solid transparent;
}

.info {
	position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 25px;
}

.info h2 {
	color:#fff;
	font-weight:700;
	font-size:22px;
	margin-bottom: 5px;
}

.info h3 {
	color:#fff;
	font-size:16px;
	margin-bottom:15px;
}

p.score {
	color:#fff;
	font-weight:700;
}

.pt25 {
	padding-top:25px;
}

.mb30 {
	margin-bottom:30px;
}
.mb100 {
	margin-bottom:100px;
}

.imdb {
    background-color: #fff;
    color: red;
    border-radius: 2px;
    padding: 2px 2px 1px 2px;
    width: 44px;
    float: right;
    margin-left: 20px;
    margin-top: -2px;
}